/* Orders.css */
.orders-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.order-item {
  padding: 20px;
  width: max-content;
  box-sizing: border-box;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.order-items strong {
  cursor: pointer;
}
.order-items svg {
  font-size: 0.6rem;
  margin-right: 5px;
}
.order-item-detail {
  margin: 10px 0px;
  margin-left: 20px;

  display: block;
  transform-origin: top;
  transition: 0.2s all;
}

.order-item-detail-open {
  display: none;
}
